.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar-container{
  background-color: white;
  position: absolute;
  top: 40%;
  border-radius: 20px;
  padding: 10px 10px;
}
.searchbar-container input{
  padding: 15px 40px;
  border: none;
  font-size: 18px;
}
.searchbar-container button{
  padding: 10px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  transition: color 0.15s;
}
.searchbar-container button:hover{
  opacity: 0.8;
}
.searchbar-container button:active{
  opacity: 0.5;
}