.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar-container{
  background-color: white;
  position: absolute;
  top: 40%;
  border-radius: 20px;
  padding: 10px 10px;
}
.searchbar-container input{
  padding: 15px 40px;
  border: none;
  font-size: 18px;
}
.searchbar-container button{
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}